<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="with=device-width, initial-scale=1.0">
<% if (typeof title !=='undefined' ){ <title>
    <%=title %> - Katalog firm </title>
        %> } else { <% <title>Katalog firm</title> %>
            }
            %>


</html>