<ul class="nav nav-tabs ">
    <li role="presentation" ><a class="<%- url === '/' ? 'active' : '' %>" href="/">Strona główna</a></li>
    <li role="presentation" ><a class="<%- url.includes('/firmy') ? 'active' : '' %>" href="/firmy">Firmy</a></li>
    <li role="presentation"><a class="<%- url.includes('/firmy') ? 'active' : '' %>" href="/firmy">Messages</a></li>
  </ul>